//Green
$green-900: #577310;
$green-800: #668613;
$green-700: #749A16;
$green-600: #83AD18;
$green-500: #91C01B;
$green-400: #9CC632;
$green-300: #A7CD49;
$green-200: #B2D35F;
$green-100: #BDD976;
$green-50: #DEECBB;

//Red
$red-900: #83050E;
$red-800: #990610;
$red-700: #AF0612;
$red-600: #C50715;
$red-500: #DB0817;
$red-400: #DF212E;
$red-300: #E23945;
$red-200: #E6525D;
$red-100: #E96B74;
$red-50: #F4B5B9;

//Blue
$blue-900: #06375C;
$blue-800: #004579;
$blue-700: #004F8A;
$blue-600: #00599C;
$blue-500: #0063AD;
$blue-400: #1973B5;
$blue-300: #3382BD;
$blue-200: #4D92C6;
$blue-100: #66A1CE;
$blue-50: #B3D0E6;

//Gray
$gray-900: #2B2B2B;
$gray-800: #323232;
$gray-700: #393939;
$gray-600: #404040;
$gray-500: #474747;
$gray-400: #595959;
$gray-300: #6C6C6C;
$gray-200: #7E7E7E;
$gray-100: #919191;
$gray-50: #DADADA;

